<!DOCTYPE html>
<html lang="en">
<!-- <strong><span style="color:red">Ціна: 6000 грн/міс</span></strong>. В ціну входить інтернет 100 Mbps та послуги Державної служби охорони. -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Здається однокімнатна квартира у Залізничному районі</title>

    <!-- Bootstrap Core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="public/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Навігація</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand page-scroll" href="#page-top"></span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Навігація</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#details">Деталі</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Галерея</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Розташування</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Контакт</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <h1>Оголошення</h1>
                <h3>Здається однокімнатна квартира у Залізничному районі</h3>
                <a href="#services" class="page-scroll btn btn-xl">Дізнатися більше</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Навігація</h2>
                    <h3 class="section-subheading text-muted">Оберіть цікаву для Вас секцію та продовжуйте подорожувати сайтом.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Деталі</h4>
                    <p class="text-muted">Опис квартири, цифри, таблиці, текст...</p>
                    <a href="#details" class="btn btn-primary page-scroll">Подивитись</a>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Галерея</h4>
                    <p class="text-muted">Актуальні фотографії вітальні, кухні, ванної на передньої кімнат</p>
                    <a href="#portfolio" class="btn btn-primary page-scroll">Подивитись</a>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Розташування</h4>
                    <p class="text-muted">Географічне положення будинку на мапі. Опис місцевості.</p>
                    <a href="#location" class="btn btn-primary page-scroll">Подивитись</a>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Контакт</h4>
                    <p class="text-muted">Зв'язок з власником, якщо виникли питання. Планування візиту з метою оглянути квартиру.</p>
                    <a href="#contact" class="btn btn-primary page-scroll">Подивитись</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Details Section -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Деталі</h2>
                    <h3 class="section-subheading text-muted">Вперше здається чудова, мебльована квартира з авторським дизайном у азіатському стилі. Навісні стелі, дубовий паркет, підігрів підлоги, мармурові підвіконня, метало-пластикові вікна, сигналізація,  домофон, інтернет, боілер, кабельне телебачення, якісна техніка. Здається напряму власником. <span style="color:red;">Ніяких маклерів, ніяких посередників!</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tr>
                        <td>Доступна з:</td>
                        <td>15.01.2016</td>
                      </tr>
                      <tr>
                        <td>Мінімальний період оренди:</td>
                        <td>6 місяців</td>
                      </tr>
                      <tr>
                        <td>Вартість оренди на місяць (без комунальних):</td>
                        <td>5000 грн</td>
                      </tr>
                      <tr>
                        <td>Застава (депозит):</td>
                        <td>5000 грн</td>
                      </tr>
                      <tr>
                        <td>У ціну входить:</td>
                        <td>Internet 100 Mbps, охорона ДСО</td>
                      </tr>
                      <tr>
                        <td>Тип житла:</td>
                        <td>Однокімнатна квартира у 9-ти поверховому будинку (1 поверх)</td>
                      </tr>
                      <tr>
                        <td>Площа квартири:</td>
                        <td>32 кв.м</td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="col-lg-6">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tr>
                      <td>Розташування:</td>
                      <td>м. Львів, вул. Петлюри 30</td>
                    </tr>
                    <tr>
                      <td>Проживання з тваринами:</td>
                      <td>Не дозволено</td>
                    </tr>
                    <tr>
                      <td>Куріння у квартирі:</td>
                      <td>Не дозволено</td>
                    </tr>
                    <tr>
                      <td>Наявність балкону:</td>
                      <td>Ні</td>
                    </tr>
                    <tr>
                      <td>Парковка:</td>
                      <td>Відкрита парковка з охороною через дорогу</td>
                    </tr>
                    <tr>
                      <td>Оформлення нотаріально завіреного договору:</td>
                      <td>Так</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Галерея</h2>
                    <h3 class="section-subheading text-muted">Усі фотографії зроблені у грудні 2015-го року.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="public/img/portfolio/room1.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Вітальня</h4>
                        <p class="text-muted">По сумісництву спальна кімната.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="public/img/portfolio/room2.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Кухня</h4>
                        <p class="text-muted">Місце для приготування та прийому їжі.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="public/img/portfolio/room3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Ванна</h4>
                        <p class="text-muted">Кімната гігієни та відпочинку.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="public/img/portfolio/room4.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Передня</h4>
                        <p class="text-muted">Вхід, місце зберігання верхнього одягу.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Location Section -->
    <section id="location">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Розташування</h2>
                    <h3 class="section-subheading text-muted">Будинок розташований рівно віддалено від вулиці Кульпарківської, вул. І.Виговського та вул. Любінської. 5 хв пішки до SoftServe Headquarters, 10 хв до ринку "Південний", 10 хв до Ашан Сіті, 20 хв  до аеропорту. Під будинком знаходиться зупинка автобуса 33 (ринок "Південний" - Університет), 51 (вул.Наукова - ринок "Галицьке Перехрестя").</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2  text-center">
                  <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.2067391677774!2d23.978076315171197!3d49.8197794404871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7713fc72a3f%3A0xb316b1e23f34c396!2sSymona+Petliury+St%2C+30%2C+L&#39;viv%2C+Lviv+Oblast!5e0!3m2!1sen!2sua!4v1451345481305" width="600" height="420" frameborder="0" style="border:0" allowfullscreen>
                      <br />
                      <small>
                          <a href="https://www.google.com.ua/maps/place/Symona+Petliury+St,+30,+L'viv,+Lviv+Oblast/@49.8197794,23.9780763,17z/data=!3m1!4b1!4m2!3m1!1s0x473ae7713fc72a3f:0xb316b1e23f34c396?hl=en">м. Львів, вул. С.Петлюри 30</a>
                      </small>
                    </iframe>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Напишіть нам</h2>
                    <h3 class="section-subheading white">У випадку якщо у Вас виникли питання або ви хочете запланувати огляд квартири - напишість нам листа. Або задзвоніть мені (Віталій) по номеру (063) 770 7015.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" accept-charset="UTF-8" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ім'я *" id="name" required data-validation-required-message="Будь ласка введіть ім'я.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Будь ласка введіть електронну адресу.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Номер телефону *" id="phone" required data-validation-required-message="Будь ласка введіть Ваш номер телефону.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Текст повідомлення *" id="message" required data-validation-required-message="Будь ласка введіть текст повідомлення.">Добрий день, ми би хотіли оглянути Вашу квартиру 4 січня близько обіду.</textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Відправити повідомлення</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Львів 2015</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Вітальня</h2>
                            <p class="item-intro text-muted">Велика кімната з диваном  та гардеробом.</p>
                            <img class="img-responsive img-centered" src="public/img/portfolio/room1-1.JPG" alt="">
                            <p>Підлога кімнати - дубовий паркет, стеля - підвісна, підвіконня з мармуру, ве

                            <img class="img-responsive img-centered" src="public/img/portfolio/room1-5.JPG" alt="">
                            <p>Стінка з багатьма зручними поличками та телевізором. Зліва від телевізора - WI-FI рутер.</p>

                            <img class="img-responsive img-centered" src="public/img/portfolio/room1-2.JPG" alt="">
                            <p>Диван, що розкладається у зручне ліжко.</p>

                            <img class="img-responsive img-centered" src="public/img/portfolio/room1-3.JPG" alt="">
                            <p>Робочий стіл з кріслом лампою та монітором.</p>

                            <img class="img-responsive img-centered" src="public/img/portfolio/room1-4.JPG" alt="">
                            <p>Великий, вмістимий гардероб з численними поличками, схований у шафі-купе.</p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>Кухня</h2>
                          <p class="item-intro text-muted">Велика кухня зі столом. Тут можна зустрічати гостей, готувати та вживати смачні страви</p>
                          <img class="img-responsive img-centered" src="public/img/portfolio/room2-1.JPG" alt="">
                          <p>Підлога кімнати з керамічної плитки з підігрівом, стеля - підвісна, підвіконня з мармуру, велике метало-пластикове вікно.</p>

                          <img class="img-responsive img-centered" src="public/img/portfolio/room2-2.JPG" alt="">
                          <p>Стлолик з 4 стільцями. Розкладеним має вдвічі більшу поверхню.</p>

                          <img class="img-responsive img-centered" src="public/img/portfolio/room2-3.JPG" alt="">
                          <p>Кухня з робочею поверхнею, плиткою Ariston, витяжкою Franke, холодильником Ariston, мийкою, мікрохлильовою пічкою та тостером.</p>

                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>Ванна кімната</h2>
                          <p class="item-intro text-muted">Стіни та підлога оздоблені керамічною плиткою. Підлога з підігрівом.</p>
                          <img class="img-responsive img-centered" src="public/img/portfolio/room3-1.JPG" alt="">
                          <p>Велика, зручна ванна з душем та сушкою для речей.</p>

                          <img class="img-responsive img-centered" src="public/img/portfolio/room3-2.JPG" alt="">
                          <p>Шафка для речей, змійовик, боілер AEG, пральна машинка Samsung та кутовий унітаз.</p>

                          <img class="img-responsive img-centered" src="public/img/portfolio/room3-3.JPG" alt="">
                          <p>Раковина, дзеркало з підсвіткою та поличками.</p>

                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Передня</h2>
                            <p class="item-intro text-muted">Вхід у квартиру, підлога з керамічної плитки, шафа.</p>
                            <img class="img-responsive img-centered" src="public/img/portfolio/room4-1.JPG" alt="">
                            <p>Металеві та дерев'яні двері, вмістима шафа-купе для зберігання верхнього одягу та взуття, пульт керування сигналізацією, домашній телефон, домофон.</p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="public/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="public/js/classie.js"></script>
    <script src="public/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="public/js/jqBootstrapValidation.js"></script>
    <script src="public/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="public/js/agency.js"></script>

</body>

</html>
